:root {
  /* color variable */
  --text: #ebe9ea;
  --background: #070405;
  --background-button: rgba(7, 4, 5, 0.4);
  --background-button-hover: rgba(7, 4, 5, 0.6);
  --background-overlay: rgb(7, 4, 5, 0.5);
  --primary: #db90a1;
  --secondary: #9a1734;
  --accent: #fc083e;
  --accent-overlay: rgb(252, 8, 62, 0.8);
  --accent-overlay02: rgb(252, 8, 62, 0.4);

  /* slide width & number slide variable */
  --slide-width: 400px;
  --number-slide: 7;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  border: none;
}

body {
  background: var(--background);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  height: 100%;
}

/* styling the .header */

.header {
  color: var(--text);
  font-size: 2.5rem;
  margin: 0;
  text-transform: uppercase;
  cursor: default;
  transition: all 0.5s ease;
  text-align: center;
}

.header:hover {
  color: var(--accent);
  text-shadow: 0 0 75px var(--accent-overlay02);
}

/* styling the index-container */

.index-container {
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 300px;
  cursor: pointer;
}

/* styling the index overall */

.index {
  height: 25px;
  width: 25px;
  background-color: var(--text);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

/* styling the index on hover */

.index:not(.active):hover {
  background-color: var(--accent);
  box-shadow: 0 0 15px var(--accent);
}

/* styling the index on active (JavaScript) */

.index.active {
  background-color: var(--accent);
}

div.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: var(--slide-width);
  height: 500px;
  border-radius: 12px;
  transition: box-shadow 0.5s ease-in-out;
  cursor: pointer;
}

div.slider-container:hover {
  box-shadow: 0 0 75px var(--accent-overlay02);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--slide-width) * var(--number-slide));
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  position: relative;
  display: flex;
  width: var(--slide-width);
  height: 500px;
  position: relative;
  flex-shrink: 0;
  transition: filter 0.4s ease-in-out;
}

.slide::before {
  position: absolute;
  content: "";
  width: var(--slide-width);
  height: 500px;
  background-color: var(--background-overlay);
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
  backdrop-filter: brightness(80%) blur(2px);
  opacity: 1;
}

.slide:hover::before {
  opacity: 0;
}

/* link to the JavaScript to maintain the effect (opacity decrease effect)
even if hovering outside from the card (inside the button) */

.slide.btn-hover-state::before {
  opacity: 0;
}

.slide1,
#first-clone {
  background-image: url("images/img1girl02.jpg");
  background-size: cover;
  background-position: center;
}

.slide2 {
  background-image: url("images/img2girl.jpg");
  background-size: cover;
  background-position: center;
}

.slide3 {
  background-image: url("images/img3girl.jpg");
  background-size: cover;
  background-position: top center;
}

.slide4 {
  background-image: url("images/img4girl.jpg");
  background-size: cover;
  background-position: top center;
}

.slide5 {
  background-image: url("images/img5boy.jpg");
  background-size: cover;
  background-position: top center;
}

.slide6 {
  background-image: url("images/img6boy.jpg");
  background-size: cover;
  background-position: top center;
}

.slide7,
#last-clone {
  background-image: url("images/img7boy.jpg");
  background-size: cover;
  background-position: top center;
}

.button.prev {
  position: absolute;
  color: var(--text);
  background-color: var(--background-button);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6px 6px 0;
  font-size: 6rem;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  cursor: pointer;
}

.button.next {
  position: absolute;
  color: var(--text);
  background-color: var(--background-button);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px 0 0 6px;
  font-size: 6rem;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  cursor: pointer;
}

.button span.text {
  display: inline-block;
  transform: translateY(-2px);
  transition: color 0.4s ease-in-out, transform 0.1s ease;
  user-select: none;
}

.button {
  transition: all 0.4s ease-in-out;
  width: 55px;
  height: 100px;
}

.button:hover {
  background-color: var(--background-button-hover);

  & span.text {
    color: var(--accent);
    text-shadow: 0 0 45px var(--accent-overlay);
  }
}

.button:active {
  transform: translateY(-50%) scale(0.9);
}
